@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(214, 226, 240);
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

main {
  max-width: 260px;
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 15px;
}

.card {
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

h2 {
  margin-top: 1rem;
  line-height: 1.2em;
  color: hsl(218, 44%, 22%);
  font-size: 1.3rem;
}

p {
  margin-top: 0.2rem;
  color: hsl(220, 15%, 55%);
  font-size: 0.9rem;
  padding: 10px;
  margin-bottom: 10px;
}
