@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 1vw;
  height: 1vh;
  background: rgb(214, 226, 240);
}

.main {
}

.container {
  margin: 0 auto;
}

article {
  display: inline-block;
  border-radius: 0.8rem;
  background-color: hsl(0, 0%, 100%);
  max-width: 600px;
  padding: 1rem;
}

img {
  max-width: 260px;
  border-radius: 0.8rem;
}

.text {
  text-align: center;
  max-width: 240px;
  font-family: "Outfit", sans-serif;
  margin-bottom: 10px;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-weight: bold;
  font-size: 1.2rem;
}

p {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 0.9rem;
}
